/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors
  --color-light-cyan: hsl(193, 38%, 86%);
  --color-neon-green: hsl(150, 100%, 66%);
  --color-grayish-blue: hsl(217, 19%, 38%);
  --color-dark-grayish-blue: hsl(217, 19%, 24%);
  --color-dark-blue: hsl(218, 23%, 16%);
  --color-white: hsl(0, 0%, 100%);
}

/* ==============================
   1.0 Phones & Tablets 0 - 900px 
   ============================== */

.advice {
  padding-block-start: 4.2rem;
  padding-block-end: 6.6rem;
  padding-inline: 2rem;
  margin-block-start: -5rem;
  max-width: 500px;

  &__number {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.31em;
    padding-block-end: 2.2rem;
  }

  &__text {
    font-size: 2.4rem;
    text-align: center;
    padding-block-end: 2.1rem;

    color: var(--color-light-cyan);
  }

  &__dice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    bottom: -3.2rem;
    cursor: pointer;

    border-radius: 100px;
    background-color: var(--color-neon-green);

    &:hover {
      box-shadow: 0 0 20px 10px hsla(150, 100%, 66%, 0.3);
    }
  }
}
